:root {
  --font-size: 1.8rem;
  --half-font-size: 0.9rem;
  --third-font-size: 0.6rem;
  --color-border: #000;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 var(--font-size);

  font-family: monospace;
  font-size: var(--font-size);
}

p,
li,
nav {
  line-height: 1.618;
}

li {
  margin-bottom: var(--half-font-size);
}

nav {
  margin: var(--font-size) 0;
  display: flex;
  justify-content: space-between;
  gap: var(--font-size);
}

nav a:last-child {
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-border: #fff;
  }

  html {
    background: #000;
    color: #fff;
  }

  a:link {
    color: #b7cfff;
  }

  a:visited {
    color: #e8b7ff;
  }
}

@media (max-width: 44.75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 50%;
  }

  nav {
    display: block;
  }

  nav a {
    display: inline-block;
    margin-bottom: var(--half-font-size);
    border: 1px solid var(--color-border);
    text-decoration: none;
    padding: var(--third-font-size) var(--half-font-size);
  }

  nav a:last-child {
    float: right;
  }

  ul {
    padding-left: var(--font-size);
  }
}
